.wrapper{
    width: 85%;
    margin: auto;
    background-color: rgb(247, 230, 241);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    border-radius: 8px;
}